name: Release

on:
  push:
    tags: ['v*']

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            c_compiler: gcc
            cpp_compiler: g++
            artifact_name: linux-x86_64
            binary_path: build/bin/rogem
            binary_name: rogem
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            artifact_name: windows-x86_64
            binary_path: build/bin/Release/rogem.exe
            binary_name: rogem.exe

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Update System
      if: runner.os == 'Linux'
      run: sudo apt-get update

    - name: Install Dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get install -y build-essential\
                                cmake\
                                ninja-build\
                                curl\
                                zip\
                                unzip\
                                tar\
                                pkg-config\
                                libxinerama-dev\
                                libxcursor-dev\
                                xorg-dev\
                                libglu1-mesa-dev

    - name: Configure CMake (Linux)
      if: runner.os == 'Linux'
      run: >
        cmake -B ${{ github.workspace }}/build
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_BUILD_TYPE=Release
        -S ${{ github.workspace }}
        -G Ninja

    - name: Configure CMake (Windows)
      if: runner.os == 'Windows'
      run: >
        cmake -B ${{ github.workspace }}/build
        -DCMAKE_C_COMPILER=${{ matrix.c_compiler }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_BUILD_TYPE=Release
        -S ${{ github.workspace }}

    - name: Output Logs On Failure
      if: failure()
      run: cat ${{ github.workspace }}/build/vcpkg-bootstrap.log

    - name: Build
      run: cmake --build ${{ github.workspace }}/build --config Release

    # - name: Test (Linux)
    #   if: runner.os == 'Linux'
    #   working-directory: ${{ github.workspace }}/build
    #   run: ./tests/rogem_tests

    # - name: Test (Windows)
    #   if: runner.os == 'Windows'
    #   working-directory: ${{ github.workspace }}/build
    #   run: ${{ github.workspace }}\build\tests\Release\rogem_tests.exe

    - name: Package (Linux)
      if: runner.os == 'Linux'
      run: |
        cd ${{ github.workspace }}
        zip rogem-${{ github.ref_name }}-${{ matrix.artifact_name }}.zip -j ${{ matrix.binary_path }}

    - name: Package (Windows)
      if: runner.os == 'Windows'
      run: |
        Compress-Archive -Path "${{ matrix.binary_path }}" -DestinationPath "rogem-${{ github.ref_name }}-${{ matrix.artifact_name }}.zip"
      shell: pwsh

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: rogem-${{ github.ref_name }}-${{ matrix.artifact_name }}
        path: rogem-${{ github.ref_name }}-${{ matrix.artifact_name }}.zip

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: artifacts
        merge-multiple: true

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        name: ${{ github.ref_name }}
        generate_release_notes: true
        files: artifacts/*.zip
